Package: utile-gnome-shell-extensions
Version: 26.0~beta6
Architecture: all
Section: utils
Priority: optional
Maintainer: Aaser Abd-el Sabour <proman4713@gmail.com>
Description: Utile OS Default GNOME Shell Extensions
Depends: gnome-shell,gnome-browser-connector,gnome-shell-extension-gsconnect,gnome-shell-extension-gsconnect-browsers
