Package: utile-gnome-shell-extensions
Version: 26.04.0~beta3
Architecture: all
Section: gnome
Priority: optional
Maintainer: Aaser Abd-el Sabour <proman4713@gmail.com>
Description: Utile OS Default GNOME Shell Extensions
Depends: gnome-shell,gnome-shell-extension-gsconnect
