Source: utile-grub-theme
Section: admin
Priority: optional
Maintainer: Aaser Abd-el Sabour <proman4713@gmail.com>
Build-Depends: debhelper-compat (= 13)

Package: utile-grub-theme
Architecture: all
Description: Utile OS GRUB theme and fonts
Depends: grub-common,grub2-common
