[Desktop Entry]
Name=Welcome to Utile OS
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=utile-initial-setup
TryExec=/usr/libexec/gnome-initial-setup
Exec=/usr/libexec/gnome-initial-setup
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-HiddenUnderSystemd=true
StartupWMClass=org.gnome.InitialSetup
