Source: utile-gnome-defaults
Section: x11
Priority: optional
Maintainer: Aaser Abd-el Sabour <proman4713@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.3

Package: utile-gnome-defaults
Architecture: all
Description: Utile OS Default GNOME Configurations
 Includes default user settings and most UI/UX modifications for Utile OS.
 .
 This package is installed by default in Utile OS.
Depends: gnome-shell,pulseaudio-utils,yaru-theme-sound,${misc:Depends}
