Source: utile-gnome-defaults
Section: x11
Priority: optional
Maintainer: Aaser Abd-el Sabour <proman4713@gmail.com>
Build-Depends: debhelper-compat (= 13)

Package: utile-gnome-defaults
Architecture: all
Description: Utile OS Default GNOME Configurations
Depends: gnome-shell,pulseaudio-utils,yaru-theme-sound
