Source: utile-gnome-defaults
Section: x11
Priority: optional
Maintainer: Aaser Abd-el Sabour <proman4713@gmail.com>
Build-Depends: debhelper-compat (= 13)

Package: utile-gnome-defaults
Architecture: all
Description: Utile OS Default GNOME Configurations
 Includes dconf overrides, Yaru theme overrides, login/logout sounds, custom desktop icons, shell aliases, and fastfetch configuration.
 .
 This package is included in the `utile-desktop` metapackage and is installed by default in Utile OS.
Depends: gnome-shell,pulseaudio-utils,yaru-theme-sound,${misc:Depends}
