Package: utile-gnome-defaults
Version: 26.0~beta7
Architecture: all
Section: gnome
Priority: optional
Maintainer: Aaser Abd-el Sabour <proman4713@gmail.com>
Description: Utile OS Default GNOME Configurations
Depends: gnome-shell
