Source: utile-desktop
Section: metapackages
Priority: optional
Maintainer: Aaser Abd-el Sabour <proman4713@gmail.com>
Build-Depends: debhelper-compat (= 13)

Package: utile-desktop
Architecture: all
Description: Utile Desktop metapackage
Depends: base-files,fastfetch,nala,utile-gnome-defaults,utile-gnome-shell-extensions,utile-grub-theme,utile-keyring,utile-music,utile-wallpapers
