.eula-document-scroll-area {
  background-color: rgba(0, 0, 0, 0.15);
}

.eula-document-area {
  background-color: white;
  margin: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 6px 8px 15px @dark_3;
}
