# Startup sound
[Desktop Entry]
Type=Application
# Number is # out of 65536, this is 70%.
Exec=/usr/bin/paplay --volume=45875.2 /usr/share/sounds/Yaru/stereo/desktop-login.oga
NoDisplay=true
Name=User Log-in Sound
Comment=Play welcome sound at login
X-GNOME-Autostart-enabled=true