#!/bin/sh
set -e

# Set the theme path
GRUB_THEME="/boot/grub/themes/utile/theme.txt"

GRUB_DISTRIBUTOR="Ubuntu" # Must be that way under the hood because a lot of upstream packages are hardcoded to look for ubuntu